{% extends "vue.html" %}

{% block title %}详情页{% endblock %}

{% block content %}
  <div id="app" class="container-sm" style="max-width: 375px">

    <media-player video_url="{{ item.video_url }}"></media-player>
    <search-bar></search-bar>
    <comment-button v-on:comment_posted="comment_posted"></comment-button>
    <comment-list v-bind:do_refresh="do_refresh"></comment-list>
    <done class="mb-5"></done>
    <more></more>
  </div>



{% endblock %}

{% block scripts %}
  {{ super() }}

  {% include "com/media-player.html" %}
  {% include "com/search-bar.html" %}
  {% include "com/comment-button.html" %}
  {% include "com/comment-list.html" %}


  <!---------------------- done ----------------------------->
  <template id="done">
    <div class="card mt-4">
      <button v-on:click="done">打卡</button>
    </div>
  </template>
  <script>
      Vue.component('done', {
          template: '#done',
          delimiters: ['${', '}'],
          data: function () {
              return {
                  comment_list: []
              }
          },
          methods: {
              done: function () {
                  let request = new Request(
                      `{{ url_for('item.done', item_id=item.id) }}`,
                      {
                          method: 'POST'
                      }
                  );
                  fetch(request)
                      .then(response => window.open(`{{ url_for('main.index') }}`, '_self'));

              }
          },

      });
  </script>
  <!---------------------- done - end ----------------------------->
  <!---------------------- more ----------------------------->
  <template id="more">
    <div>
      <div class="dropdown">
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          更多
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('main.index') }}">回到主页</a>
          <a v-on:click="reset_item_done('{{ item.id }}')" class="dropdown-item" href="#">重置打卡</a>
          <a v-on:click="delete_item('{{ item.id }}')" class="dropdown-item" href="#">删除本页</a>
        </div>
      </div>
    </div>
  </template>
  <script>
      Vue.component('more', {
          template: '#more',
          delimiters: ['${', '}'],
          methods: {
              delete_item: function () {
                  let request = new Request(
                      `{{ url_for('item.detail', item_id=item.id) }}`,
                      {
                          method: 'DELETE'
                      }
                  );
                  fetch(request).then(response => {
                      if (response.ok) {
                          window.open(`{{ url_for('main.index') }}`, '_self')
                      }
                  })
              },
              reset_item_done: function () {
                  let request = new Request(
                      `{{ url_for('item.done', item_id=item.id) }}`,
                      {
                          method: 'DELETE'
                      }
                  );
                  fetch(request).then(response => console.log('reset_item_done'));
              }
          }
      });
  </script>
  <!---------------------- more - end ----------------------------->
  <script>
      let app = new Vue({
          el: '#app',
          delimiters: ['${', '}'],
          data: {
              do_refresh: 0,
          },
          methods: {
              comment_posted: function () {
                  this.do_refresh = (new Date()).getTime();
                  console.log(this.do_refresh);
              }
          }
      })
  </script>
{% endblock %}
